<div class="content">
  <h2>Crear Labor</h2>
  <form class="form-create-labor">

    
    <mat-form-field appearance="outline">
      <mat-label>ID:</mat-label>
      <input matInput [(ngModel)]="newLabor.lab_id" name="id" id="id">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput [(ngModel)]="newLabor.lab_nombre" name="nombre" id="nombre">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo:</mat-label>
      <mat-select [(ngModel)]="newLabor.tl_id" name="tipoLabor" id="tipoLabor">
        <mat-option *ngFor="let tipo of laborTypes" [value]="tipo.tl_id">{{ tipo.tl_descripcion }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Horas Asignadas:</mat-label>
      <input matInput [(ngModel)]="newLabor.lab_horas" name="horasAsignadas" id="horasAsignadas" type="number">
    </mat-form-field>
    <button id="btn-create" mat-raised-button color="primary" (click)="createLabor()" [disabled]="loading">Crear Labor</button>
  </form>
</div>
  