<div class="labor-management">
  <h2>Gestión de Labores</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let labor">
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'ID'">{{ labor.id }}</ng-container>
          <ng-container *ngSwitchCase="'Nombre'">{{ labor.nombre }}</ng-container>
          <ng-container *ngSwitchCase="'Tipo labor'">{{ labor.tipoLabor }}</ng-container>
          <ng-container *ngSwitchCase="'Horas asignadas'">{{ labor.horasAsignadas }}</ng-container>
          <ng-container *ngSwitchDefault>---</ng-container>
        </ng-container>
          
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns" (click)="viewLaborDetails(row)"></tr>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </table>

  <div class="button-container">
    <button mat-raised-button color="primary" class="create-button" (click)="createLabor()">Crear Labor</button>
  </div>
</div>
  