<div class="professor-detail">
    <h2>Detalles del Docente</h2>
    <form class="form-professor-detail">
        <mat-form-field appearance="outline">
            <mat-label>Número de Identificación:</mat-label>
            <input matInput [(ngModel)]="professor.usr_identificacion" name="identificationNumber" id="identificationNumber">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nombre:</mat-label>
            <input matInput [(ngModel)]="professor.usu_nombre" name="firstName" id="firstName">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Apellido:</mat-label>
            <input matInput [(ngModel)]="professor.usu_apellido" name="lastName" id="lastName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Genero:</mat-label>
              <mat-select [(ngModel)]="professor.usu_genero" name="gender" id="gender">
              <mat-option value="F">Femenino</mat-option>
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="O">Otro - No mencionar</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Correo Electrónico:</mat-label>
            <input matInput [(ngModel)]="professor.login" name="email" id="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Rol:</mat-label>
              <mat-select [(ngModel)]="userRole.rol_id" [(value)]="selectedRole" name="rol" id="rol">
                <mat-option *ngFor="let rol of roles" [value]="rol.rol_id">{{ rol.rol_descripcion }}</mat-option>
    
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Último título académico:</mat-label>
            <input matInput [(ngModel)]="professor.usu_estudio" name="lastAcademicTitle" id="lastAcademicTitle">
        </mat-form-field>

        <div class="form-buttons">
            <button mat-raised-button color="warn" (click)="deleteProfessor()">Eliminar</button>
            <button mat-raised-button color="primary" (click)="saveChanges()">Guardar Cambios</button>
        </div>
    </form>
  </div>
  