.labor-detail{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
.form-labor-detail{
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%; 
  margin-bottom: 16px; 
}

.form-buttons {
  display: flex;
  width: 100%; 
  justify-content: space-between; 
  height: 100px;
}

.mat-form-field {
  width: 100%; 
}

.mat-form-field {
  margin-bottom: 16px;
}

button{
  width: 48%;
  font-weight: 600;

}