<div class="content">
    <h2>Crear Docente</h2>
    <form class="form-create-professor">
      <mat-form-field appearance="outline">
        <mat-label>Número de Identificación:</mat-label>
        <input matInput [(ngModel)]="newProfessor.identificationNumber" name="identificationNumber" id="identificationNumber">
      </mat-form-field>

      
      <mat-form-field appearance="outline">
        <mat-label>Nombre:</mat-label>
        <input matInput [(ngModel)]="newProfessor.firstName" name="firstName" id="firstName">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Apellido:</mat-label>
        <input matInput [(ngModel)]="newProfessor.lastName" name="lastName" id="lastName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Genero:</mat-label>
          <mat-select [(ngModel)]="newProfessor.gender" name="gender" id="gender">
          <mat-option value="F">Femenino</mat-option>
          <mat-option value="M">Masculino</mat-option>
          <mat-option value="O">Otro - No mencionar</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico:</mat-label>
        <input matInput [(ngModel)]="newProfessor.email" name="email" id="email">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Último título académico:</mat-label>
        <input matInput [(ngModel)]="newProfessor.lastAcademicTitle" name="lastAcademicTitle" id="lastAcademicTitle">
      </mat-form-field>
      <div class="containaer-btn-create"> 
        <button id="btn-create"  mat-raised-button color="primary" (click)="createProfessor()" [disabled]="loading">Crear Docente</button>
      </div>
    </form>
  </div>