<div id="container-sign-in">
    <mat-card class="card-sign-in">
        <mat-card-content>
            <h3>AUPROCA</h3>
            
            <form [formGroup]="passwordForm"  class="form-sign-in"  (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline" class="input-sign-in">
                    <input matInput type="email" formControlName="email" placeholder="Correo electrónico" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-sign-in">
                    <input matInput type="password" formControlName="currentPassword" placeholder="Contraseña actual" />
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="input-sign-in">
                    <input matInput type="password" formControlName="newPassword" placeholder="Nueva contraseña" />
                </mat-form-field>
            
                <mat-form-field  appearance="outline" class="input-sign-in">
                    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirmar nueva contraseña" />
                </mat-form-field>
            
                <button mat-raised-button color="primary" type="submit">Actualizar contraseña</button>
            </form>
            
        </mat-card-content>
    </mat-card>    
</div>