<!-- update-password.component.html -->
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="password" formControlName="currentPassword" placeholder="Contraseña actual" />
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" formControlName="newPassword" placeholder="Nueva contraseña" />
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirmar nueva contraseña" />
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Actualizar contraseña</button>
  </form>
  